Flask==0.10.1
Flask-Cors==1.9.0
Flask-PyMongo==0.3.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
itsdangerous==0.24
pymongo==2.7.2
python-firebase==1.2
requests==2.4.3
six==1.8.0
wsgiref==0.1.2
