{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}

{% block ng_app %}ng-app="hubrocks"{% endblock %}
{% block ng_controller %}ng-controller="HubrocksCtrl"{% endblock %}


{% block page_title%}hub.rocks{% endblock %}

{% block css %}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'selectize/dist/css/selectize.bootstrap3.css' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/vote.scss' %}">
  {% endcompress %}
{% endblock %}

{% block content %}
  {% verbatim %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
                <div class="well">
                    <span ng-cloak ng-if="data.now_playing.id">
                      <div class="row">
                        <div class="col-md-2 player-img">
                          <img ng-src="{{ data.now_playing.image }}">
                        </div>
                        <div class="col-md-7 playing-now">
                          <a class="pause-button" ng-cloak ng-if="CAN_PLAY_PAUSE" ng-click="changePlayerStatus(!data.playing)"><span class="glyphicon" ng-class="!data.playing ? 'glyphicon-play' : 'glyphicon-pause'"></span></a>
                          <h4>Playing now:<br><b>{{ data.now_playing.title }} - {{ data.now_playing.artist }}</b></h4>
                        </div>
                          </span>
                        <div class="col-md-3">
                          <button class="btn btn-md pull-right skip-button"
                                  ng-cloak
                                  ng-class="{disabled: data.now_playing.skippers.indexOf(data.my_uuid) !== -1,
                                             'btn-primary': data.now_playing.skippers.length > 0,
                                             'btn-info': data.now_playing.skippers.length === 0}"
                                  ng-click="voteSkip(data.now_playing.id)"
                                  ng-if="data.playing">
                            <i class="glyphicon glyphicon-forward" ng-class="data.now_playing.left_to_skip > 1 ? 'multiple-skips' : ''"></i>
                            <span class="skip-number" ng-if="data.now_playing.left_to_skip > 1">
                              {{ data.now_playing.left_to_skip }}
                            </span>
                          </button>
                          <button class="btn btn-md btn-info pull-right vote-playing-button"
                                  ng-cloak
                                  ng-class="{disabled: data.now_playing.voters.indexOf(data.my_uuid) !== -1}"
                                  ng-click="insertVote(data.now_playing.id)">
                            <i class="glyphicon glyphicon-thumbs-up"
                               ng-class="data.now_playing.left_to_skip > 1 ? 'multiple-skips' : ''">
                            </i>
                            <!-- the empty span bellow will expand height to match skip height -->
                            <span class="skip-number" ng-if="data.now_playing.left_to_skip > 1"></span>
                          </button>
                          <button class="btn btn-md pull-right volume-button" ng-if="CAN_PLAY_PAUSE" data-toggle="modal" data-target="#volumeModal">
                            <i class="glyphicon glyphicon-volume-up"
                               ng-class="data.now_playing.left_to_skip > 1 ? 'multiple-skips' : ''"></i>
                            <!-- the empty span bellow will expand height to match skip height -->
                            <span class="skip-number" ng-if="data.now_playing.left_to_skip > 1"></span>
                          </button>
                          <!-- Modal -->
                          <div class="modal fade" id="volumeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">Volume Controls</h4>
                                </div>
                                <div class="modal-body">
                                  <iframe src="http://192.168.0.10:9510/client/#/remote/Unified.Media"></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>
                    <span ng-cloak ng-if="!data.now_playing.id">
                      Choose a song bellow:
                    </span>
                  </th>
                </tr>
              </div>
                        <form role="form" ng-submit="insertTrack()" class="vote-form">
                <select class="form-control select-track" placeholder="Enter a song title or artist..."
                          ng-model="newTrack"></select>
              </form>


              <table class="table">
                <tr ng-cloak ng-repeat="track in data.tracks">
                  <td class="text-center">
                    <button class="btn-vote btn btn-xs"
                            ng-if="track.voters.indexOf(data.my_uuid) === -1"
                            ng-click="insertVote(track.id)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button class="btn-vote btn btn-xs btn-danger"
                            ng-if="track.voters.indexOf(data.my_uuid) !== -1"
                            ng-click="deleteVote(track.id)"><span class="glyphicon glyphicon-remove"></span></button>
                  </td>
                  <td><h4>{{ track.title }} - {{ track.artist }}</h4></td>
                  <td><h4>{{ track.votes.length }}</h4></td>
                </tr>
              </table>
        </div>
      </div>
    </div>
  {% endverbatim %}
{% endblock %}

{% block js %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-local-storage/dist/angular-local-storage.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-uuid4/angular-uuid4.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'selectize/dist/js/standalone/selectize.js' %}"></script>
    <script type="text/javascript" src="{% static 'selectize-enter-key-submit/src/plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'faye/include.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-faye/build/angular-faye.js' %}"></script>

    <script>
      var app = angular.module('hubrocks.const', []);

      app.factory('ESTABLISHMENT', function () {
        return '{{ establishment }}';
      });

      app.factory('API_URL', function () {
        return '/api/{{ establishment }}';
      });

      app.factory('FANOUT_REALM', function () {
        return '{{ FANOUT_REALM }}';
      });

      var YOUTUBE_KEY = '{{ YOUTUBE_KEY }}';
      var DEEZER_ICON = "{% static 'img/deezer.png' %}";
      var YOUTUBE_ICON = "{% static 'img/youtube.png' %}";
      var ESTABLISHMENT = '{{ establishment }}';
      {% if can_play_pause %}
      {# this is to avoid multiple verbatim #}
      var CAN_PLAY_PAUSE = true;
      {% else %}
      var CAN_PLAY_PAUSE = false;
      {% endif %}
    </script>

    <script src="{% static 'js/vote.js' %}"></script>
    <script src="{% static 'js/select-track.js' %}"></script>
  {% endcompress %}
{% endblock %}
