{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="hubrocks">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hub.rocks</title>

    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'selectize/dist/css/selectize.bootstrap3.css' %}">
      <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/vote.scss' %}">
    {% endcompress %}
  </head>

  <body ng-controller="HubrocksCtrl">
    {% verbatim %}
    <div class="container">
      <div class="col-xs-12">
        <h1><span class="glyphicon glyphicon-music"></span> hub.rocks</h1>
        <table class="table table-bordered table-striped no-margin">
          <tr>
            <th></th>
            <th colspan="2">
              <span ng-cloak ng-if="data.now_playing.id">
                <span class="glyphicon glyphicon-play"></span> Tocando agora: {{ data.now_playing.title }} - {{ data.now_playing.artist }}
                <button class="btn btn-xs pull-right"
                        ng-cloak
                        ng-class="{disabled: data.now_playing.skippers.indexOf(data.my_uuid) !== -1,
                                   'btn-danger': data.now_playing.skippers.length > 0,
                                   'btn-info': data.now_playing.skippers.length === 0}"
                        ng-click="voteSkip(data.now_playing.id)">
                  <ng-pluralize count="data.now_playing.left_to_skip"
                                when="{'1': 'falta 1 skip',
                                       'other': 'faltam {} skips'}">
                  </ng-pluralize>

                </button>
              </span>
              <span ng-cloak ng-if="!data.now_playing.id">
                Escolha uma música abaixo:
              </span>
            </th>
          </tr>
        </table>

        <form role="form" ng-submit="insertTrack()" class="vote-form">
          <select class="form-control select-track" placeholder="Digite o nome de uma música..."
                    ng-model="newTrack"></select>
        </form>


        <table class="table table-bordered table-striped">
          <tr ng-cloak ng-repeat="track in data.tracks">
            <td class="text-center">
              <button class="btn btn-xs"
                      ng-if="track.voters.indexOf(data.my_uuid) === -1"
                      ng-click="insertVote(track.id)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
              <button class="btn btn-xs"
                      ng-if="track.voters.indexOf(data.my_uuid) !== -1"
                      ng-click="deleteVote(track.id)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
            <td>{{ track.title }} - {{ track.artist }}</td>
            <td>{{ track.votes.length }}</td>
          </tr>
        </table>

        <footer>token do usuário: <code>{{ data.my_uuid }}</code></footer>
      </div>
    </div>
    {% endverbatim %}

    {% compress js %}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-local-storage/dist/angular-local-storage.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-uuid4/angular-uuid4.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-sass-official/assets/javascripts/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'selectize/dist/js/standalone/selectize.js' %}"></script>
    <script type="text/javascript" src="{% static 'selectize-enter-key-submit/src/plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'faye/include.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-faye/build/angular-faye.js' %}"></script>

    <script>
      var app = angular.module('hubrocks.const', []);

      app.factory('ESTABLISHMENT', function () {
        return '{{ establishment }}';
      });

      app.factory('API_URL', function () {
        return '/api/{{ establishment }}';
      });

      app.factory('FANOUT_REALM', function () {
        return '{{ FANOUT_REALM }}';
      });

      var YOUTUBE_KEY = '{{ YOUTUBE_KEY }}';
      var DEEZER_ICON = "{% static 'img/deezer.png' %}";
      var YOUTUBE_ICON = "{% static 'img/youtube.png' %}";
    </script>

    <script src="{% static 'js/vote.js' %}"></script>
    <script src="{% static 'js/select-track.js' %}"></script>
    {% endcompress %}
  </body>
</html>
