footer {
  margin-top: 50px;
  font-size: 0.75em;
}

.player-img {
  text-align: center;
}

.playing-now {
  margin: 10px 0px;

  a {
    cursor: pointer;
    float: left;
    margin-right: 35px;
    font-size: 40px;
    margin-top: 9px;
  }

  span {
    font-size: 40px;
  }

  h4 {
    line-height: 27px;
  }
}

.skip-button {
  font-size: 24px;
  margin-top: 20px;
  padding-left: 16px;

  i {
    vertical-align: text-bottom;
    float: left;
    left: 2px;
    top: 0;
  }

  .multiple-skips {
    margin-top: 5px;
  }

  .skip-number {
    margin-left: 0.5em;
  }
}

.vote-playing-button {
  @extend .skip-button;
  margin-right: 10px;

  i {
    left: 0px;
  }

  .multiple-skips {
    left: 4px;
  }
}

table {
  button {
    margin-top: 7px;

    span {
      left: 1px;
      top: 2px;
    }
  }
}

.btn-vote {
  span {
    left: 0px;
    top: 2px;
  }
}

.selectize-input {

  height: 53px;
  padding-top: 1em;
  margin-top: 1em;

  input {
    font-size: larger;
  }
}

.selectize-control.select-track .selectize-dropdown {
  > div {
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }

  .track-option {
    img {
      width: 50px;
      height: 50px;
      float: left;
    }

    .title {
      margin-left: 55px;

      .by {
        font-size: 11px;
        opacity: 0.8;
      }

      .by::before {
        content: '- ';
      }

      .name {
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}

.selectize-control.select-track::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 32px;
  right: 34px;
  width: 16px;
  height: 16px;
  background: url(https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-spinner.gif);
  background-size: 16px 16px;
  opacity: 0;
}

.selectize-control.select-track.loading::before {
  opacity: 0.4;
}

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

.no-margin {
  margin-bottom: 0;
}
