body > .container {
  max-width: 768px;
}

footer {
  margin-top: 50px;
  font-size: 0.75em;
}

.selectize-control.select-track .selectize-dropdown {
  > div {
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }

  .track-option {
    img {
      width: 50px;
      height: 50px;
      float: left;
    }

    .title {
      margin-left: 55px;

      .by {
        font-size: 11px;
        opacity: 0.8;
      }

      .by::before {
        content: '- ';
      }

      .name {
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}

.selectize-control.select-track::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 8px;
  right: 34px;
  width: 16px;
  height: 16px;
  background: url(https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-spinner.gif);
  background-size: 16px 16px;
  opacity: 0;
}

.selectize-control.select-track.loading::before {
  opacity: 0.4;
}

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
