{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
  <div class="container">
    {{ form.errors }}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading"><h3 class="panel-title">Sign Up</h3></div>
            <div class="panel-body">
              <form method="post">
                {% csrf_token %}
                <div class="form-group required {% if form.first_name.errors %}has-error{% endif %}">
                  <label class="text required control-label" data-placement="right" data-toggle="tooltip" data-trigger="hover">Nome*
                  </label>
                  <div>
                    {{ form.first_name|add_class:'form-control required input-lg'}}
                  </div>
                  {% for error in form.first_name.errors %}
                    <label class="label label-primary">{{ error }}</span>
                  {% endfor %}
                </div>              
                <div class="form-group required {% if form.last_name.errors %}has-error{% endif %}">
                  <label class="text required control-label" data-placement="right" data-toggle="tooltip" data-trigger="hover">Sobrenome*
                  </label>
                  <div>
                    {{ form.last_name|add_class:'form-control required input-lg'}}
                  </div>
                  {% for error in form.last_name.errors %}
                    <label class="label label-primary">{{ error }}</span>
                  {% endfor %}
                </div>
                <div class="form-group required {% if form.email.errors %}has-error{% endif %}">
                  <label class="text required control-label" data-placement="right" data-toggle="tooltip" data-trigger="hover">Email*
                  </label>
                  <div>
                    {{ form.email|add_class:'form-control required input-lg'}}
                  </div>
                  {% for error in form.email.errors %}
                    <label class="label label-primary">{{ error }}</span>
                  {% endfor %}
                </div>
                <div class="form-group required {% if form.password1.errors %}has-error{% endif %}">
                  <label class="text required control-label" data-placement="right" data-toggle="tooltip" data-trigger="hover">
                    Senha*
                  </label>
                  <div>
                    {{ form.password1|add_class:'form-control required input-lg'}}
                  </div>
                  {% for error in form.password.errors %}
                    <label class="label label-primary">{{ error }}</span>
                  {% endfor %}
                </div>              
                <div class="form-group required {% if form.password2.errors %}has-error{% endif %}">
                  <label class="text required control-label" data-placement="right" data-toggle="tooltip" data-trigger="hover">Confirme sua senha*
                  </label>
                  <div>
                    {{ form.password2|add_class:'form-control required input-lg'}}
                  </div>
                  {% for error in form.password2.errors %}
                    <label class="label label-primary">{{ error }}</span>
                  {% endfor %}
                </div>              
                <div class="form-group required {% if form.username.errors %}has-error{% endif %}">
                  <label class="control-label">Nome da Estação*</label>
                  <div class="input-group">
                    <span class="input-group-addon"><h4>hub.rocks/</h4></span>
                    {{ form.username|add_class:'form-control required input-lg'}}
                  </div>
                  {% for error in form.username.errors %}
                    <label class="label label-primary">{{ error }}</span>
                  {% endfor %}
                </div>
                <button class="btn btn-success pull-right" type="submit">Registrar</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
