{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}

{% block page_title %}hub.rocks player{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-offset-2">
         <div id="dz-root"></div>
          {% if establishment == 'vinta' %}
            <div id="deezer-player" style="width:100%;" align="center"></div>
          {% endif %}
          <div id="youtube-player"></div>
      </div>
    </div>
  </div>
  <script>
    window.ESTABLISHMENT = '{{ establishment}}';
    window.API_URL = '/api';
    window.FANOUT_REALM = '{{ FANOUT_REALM }}';
  </script>
{% endblock %}


{% block cdn_js %}
  <script src="http://cdn-files.deezer.com/js/min/dz-v00202681.js"></script>
{% endblock %}

{% block js %}
  <script src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'faye/include.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/youtube_player.js' %}"></script>
  <script src="{% static 'js/player.js' %}"></script>
{% endblock %}
