{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>hub.rocks player</title>

    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="http://cdn-files.deezer.com/js/min/dz-v00202681.js"></script>
    <script type="text/javascript" src="{% static 'faye/include.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/youtube_player.js' %}"></script>

    <script>
      window.ESTABLISHMENT = '{{ establishment}}';
      window.API_URL = '/api';
      window.FANOUT_REALM = '{{ FANOUT_REALM }}';
    </script>
  </head>
  <body>
    <div id="dz-root"></div>
    <div id="deezer-player" style="width:100%;" align="center"></div>
    <div id="youtube-player"></div>
    <script src="{% static 'js/player.js' %}"></script>
  </body>
</html>
