<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>hub.rocks player</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn-files.deezer.com/js/min/dz-v00202681.js"></script>

    <script>
      window.API_URL = '{{ request.url_root }}api';
    </script>
  </head>
  <body>
    <div id="dz-root"></div>
    <div id="player" style="width:100%;" align="center"></div>
    <script src="/static/player.js"></script><br/>
  </body>
</html>
