<!DOCTYPE html>
<html ng-app="hubrocks">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vote</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vote.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.0/js/standalone/selectize.min.js"></script>
    <script src="{{ url_for('static', filename='angular-local-storage.min.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-uuid4.min.js') }}"></script>
    
    <script>
      var app = angular.module('hubrocks.const', []);

      app.factory('API_URL', function () {
        return '{{ request.url_root }}api';
      });

      app.factory('PUSHER_API_KEY', function () {
        return '{{ PUSHER_API_KEY }}';
      });
    </script>
    <script src="{{ url_for('static', filename='vote.js') }}"></script>
    <script src="{{ url_for('static', filename='select-track.js') }}"></script>
  </head>

  {% raw %}
  <body ng-controller="HubrocksCtrl">
    <div class="container">
      <div class="col-xs-12">
        <h1>hub.rocks</h1>
        <table class="table table-bordered table-striped">
          <tr>
            <th></th>
            <th colspan="2">
              <span ng-if="data.now_playing.length">
                Tocando agora: {{ data.now_playing.title }} - {{ data.now_playing.artist }}
              </span>
              <span ng-if="!data.now_playing.length">
                Escolha uma música abaixo:
              </span>
            </th>
          </tr>
          <tr ng-repeat="track in data.tracks">
            <td class="text-center">
              <button class="btn btn-xs"
                      ng-if="track.votes.indexOf(data.my_uuid) === -1"
                      ng-click="insertVote(track.deezer_id)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
              <button class="btn btn-xs"
                      ng-if="track.votes.indexOf(data.my_uuid) !== -1"
                      ng-click="deleteVote(track.deezer_id)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
            <td>{{ track.title }} - {{ track.artist }}</td>
            <td>{{ track.votes.length }}</td>
          </tr>
        </table>
        
        <form role="form">
          <div class="form-group">
            <select class="form-control select-track" placeholder="Digite o nome de uma música..."
                      ng-model="newTrack"></select>
            <button class="btn btn-success pull-right"
                    ng-click="insertTrack()">Inserir</button>
          </div>
        </form>

        <footer>token do usuário: <code>{{data.my_uuid}}</code></footer>
      </div>
    </div>
  </body>
  {% endraw %}
</html>
