h1 {
    text-align: center;
    padding-bottom: 45px;
}

.guide {

    ul {
        list-style-type: none;

        li {
            margin-bottom: 3em;

            .light {
                background: #4aa3df;
            }

            .dark {
                background: #2980b9;
            }

            span {
                border-radius: 100%;
                padding: 2px 18px;
                width: 58px;
                height: 58px;
                display: inline-block;
                font-size: 38px;
                color: #fff;
            }

            h2 {
                font-size: 22px;
                display: inline-block;
                vertical-align: super;
                padding-left: 0.3em;
            }
        }
    }
}

